{% extends 'tareas/base.html' %}

{% block titulo %}Registro{% endblock %}

{% block contenido %}

    <div class="formulario-agregar-tarea registro">
        <h2>Registro</h2>
        {% if messages %}
            {% for message in messages %}
            <ol class="sms-registro">
                <li>{{ message }}</li>
            </ol>                
            {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ formulario.as_p }}
            <button type="submit" class="btn-agregar">Registrate</button>
        </form>
        <p style="text-align: center; margin-top: 10px;">
            ¿Ya tienes una cuenta? <a style="text-decoration: none; color: #4D88FF;" href="{% url 'login' %}">Inicia sesion aquí</a>.
        </p>
    </div>    
{% endblock %}

